@model Data.Model.User
@{
    ViewBag.Title = "Login";
    Layout = null;
}
@using (Html.BeginForm("Login", "Users"))
{
    @Html.ValidationSummary(true, "Login failed. Check your login details.");
    <div>
        <fieldset>
            <legend>Login</legend>
            <div class="editor-label">
                @Html.LabelFor(model => model.Email)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
            <div class="editor-label">
               @Html.ActionLink("Register now", "Register", "Users");
            </div>
            <input type="submit" value="Log In" />
        </fieldset>
    </div>
}


