@model Data.Model.WaterConsumption

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WaterConsumption</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApartmentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApartmentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PricePerUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PricePerUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Consumption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consumption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountOfMoneyOwed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountOfMoneyOwed)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WaterConsumptionId }) |
    @Html.ActionLink("Back to List", "List")
</p>
