@model IEnumerable<Data.Model.WaterConsumption>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Apartment.ApartmentNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PricePerUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Consumption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountOfMoneyOwed)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Apartment.ApartmentNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PricePerUnit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Consumption)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountOfMoneyOwed)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WaterConsumptionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.WaterConsumptionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WaterConsumptionId })
        </td>
    </tr>
}

</table>
