@model Data.Model.Apartment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Apartment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApartmentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApartmentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApartmentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApartmentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfOccupants)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfOccupants)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountOfMoneyOwed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountOfMoneyOwed)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ApartmentId }) |
    @Html.ActionLink("Back to List", "List")
</p>
