@model IEnumerable<Data.Model.Apartment>

@{
    ViewBag.Title = "List";
}

<h2>Apartments</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApartmentNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfOccupants)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountOfMoneyOwed)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApartmentNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfOccupants)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountOfMoneyOwed)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ApartmentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ApartmentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ApartmentId })
        </td>
    </tr>
}

</table>
