@model IEnumerable<Data.Model.Payment>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Apartment.ApartmentNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServicesToBePaid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountOfMoneyToBePaid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paid)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Apartment.ApartmentNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServicesToBePaid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountOfMoneyToBePaid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paid)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PaymentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PaymentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PaymentId })
        </td>
    </tr>
}

</table>
