@model Data.Model.RemainingDebt

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RemainingDebt</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Apartment.ApartmentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apartment.ApartmentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DebtTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DebtTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountOfMoneyOwed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountOfMoneyOwed)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RemainingDebtId }) |
    @Html.ActionLink("Back to List", "List")
</p>
