@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Owners association</h1>
    <p class="lead"></p>
   
</div>

<div class="row">
    <div class="col-md-4">
        @*<h2>News feed</h2>
        <p>@Html.ActionLink("News","Details", "NewsFeeds")</p>*@
    </div>
    <div class="col-md-4" style="float: right">
        <h2>Options</h2>
        <p>@Html.ActionLink("Apartments", "List", "Apartments")</p>
        <p>@Html.ActionLink("Bills", "List", "Bills")</p>
        <p>@Html.ActionLink("WaterConsumptions", "List", "WaterConsumptions")</p>
        <p>@Html.ActionLink("Payments", "List", "Payments")</p>
        <p>@Html.ActionLink("RemainingDebts", "List", "RemainingDebts")</p>
        <p>@Html.ActionLink("Contracts", "List", "Contracts")</p>
        <p>@Html.ActionLink("Employees", "List", "Employees")</p>

      
    </div>
   
</div>
